<div class="banner" id="index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://storage.googleapis.com/stateless-site-mougins/2021/09/enfant-lecture-1080x675.jpg);">
  <div class="container">
    <h1>La lecture et le partage sans limites</h1>
    <%= link_to "Trouver un livre", books_path, class: "btn btn-blue  btn-lg mt-2" %>
  </div>
</div>

<div class="container">
  <div class="py-5">
    <div class="row mb-2">
      <% Book.all.shuffle[1..2].each do |book| %>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 pink"><%= book.category %></strong>
            <h3 class="mb-0"><%= book.title %></h3>
            <div class="mb-1 text-muted"><%= book.author %></div>
            <p class="card-text mb-auto"><%= book.description %></p>
            <%= link_to book_path(book), class: "" do %>
              Voir le détail <i class="fa-solid fa-arrow-right"></i>
            <% end %>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= cl_image_tag book.photo.key %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
