<div class="banner" id="index">
  <div class="container">
    <h1>Voici nos livres toutes categories</h1>
    <p>Semper viverra nam libero justo laoreet sit amet cursus. Et egestas quis ipsum suspendisse ultrices gravida. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin. Lorem ipsum dolor sit amet.</p>
  </div>
</div>

<div class="container">
  <div class="contents p-5">
    <div class="row d-flex flex-wrap align-item-strech mb-2">
      <% @books.each do |book| %>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-7 p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary"><%= book.category %></strong>
              <h3 class="mb-0"><%= book.title %></h3>
              <div class="mb-1 text-muted"><%= book.author %></div>
              <p class="card-text mb-2"><%= book.description %></p>
              <%= link_to book_path(book), class: "stretched-link" do %>
                Voir le détail <i class="fa-solid fa-arrow-right"></i>
              <% end %>
            </div>
            <div class="col-5 d-none d-lg-block">
              <figure class="d-flex justify-content-center align-items-center">
                <%= cl_image_tag book.photo.key, class: "h-100", crop: :fill, draggable: false %>
              </figure>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
