<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= @book.category %></p>
<p><%= @book.description %></p>
<p><%= @book.delivery_price %></p>
<%= cl_image_tag @book.photo.key, height: 300, width: 400, crop: :fill %>
